@inherits LayoutComponentBase
@code {
    public MatTheme Theme { get; } = new MatTheme()
        {
            Primary = "#0d47a1",
        };
        }
<MatThemeProvider Theme="@Theme">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</MatThemeProvider>